

#carousel-poll .carousel-indicators li.active {
    background-color: #cebe2f;
    width: 10px;
    height: 10px;
    border-radius: 80%;
    
}

#carousel-poll .carousel-indicators li {
    background-color: #bac3cc;
    width: 10px;
    height: 10px;
    border-radius: 80%;

}

.progress {
    height: 20px;
    margin-bottom: 20px;
    overflow: hidden;
    background-color: rgba(255, 255, 255, 0);
    border-radius: 0px;
    -webkit-box-shadow: inset 0px 0px 0px rgba(0, 0, 0, 0);
    box-shadow: inset 0px 0px 0px rgba(0,0,0,0);
}

.progress-bar {
    background-image: none;
    background-color: #fdd458;
}

#calendarpoll ol.carousel-indicators {
    margin-bottom: -15px;
}

#carousel-poll ol.carousel-indicators {
    height: 20px;
    bottom: 20px;
}

p.PollTitle {
    font-size: 16px;
    margin-top: 20px;
    font-weight: 600;
    
}

.btn-votebtn {
    color: #fff;
    background-color: #ffc107;
    border-color: #ffc107;
    margin-bottom: 5%;
}
.container-fluid .poll{
box-shadow: 0px 1px 4px 0px;
}


#poll:hover{
	box-shadow:0px 1px 4px 0px;
}
#poll{
	box-shadow: 0 4px 8px 0 rgba(27,27,27,.2), 0 16px 24px 0 rgba(27,27,27,.2);
}
#poll{
    position: fixed;
    right: 1%;
    background-color: rgba(0, 123, 255, 1) /*rgba(253, 253, 254, 1)*/;
    border-radius: 10px;
	bottom:1%;
	z-index:10;
	color:rgba(253, 253, 254, 1) ;
}


#calendarpoll	{
	transition: opacity 600ms, visibility 600ms;
	-webkit-transition: opacity 600ms, visibility 600ms;
    background-color: white;
    position: fixed;
    right: 1%;
    bottom: 1%;
    z-index: 10;
	/*border-bottom-right-radius: 8px;
    border-bottom-left-radius: 8px;
	border-top-right-radius: 0;
    border-top-left-radius: 0; */
	border-radius:8px;
	box-shadow: 0 4px 8px 0 rgba(27,27,27,.2), 0 16px 24px 0 rgba(27,27,27,.2);
    
}

.poll-title{
	margin-top:8px;
    font-weight:550;
    color: rgba(33, 37, 41, 1);
    text-shadow: 1px -1px 1px #9fbbbf;
    
	
}
.top-right{
	position:absolute;
	right:5px;
	top:5px;
	padding:5px;
	
}

